@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/* Добавляем новые иконки через ::before */
.menu-item .menu-item-icon {
  opacity: 0;
  width: 24px !important; /* Сохраняем место для иконки */
  height: 24px !important;
  margin-right: 8px !important; /* Если был отступ */
}

.menu-item a[title]::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 10px;
  top: 30px;;
  transform: translateY(-50%);
  z-index: 99999 !important;
}

/* Индивидуальные иконки для каждого пункта */
.menu-item a[title="Обучение"]::before {
  background-image: url('https://static.tildacdn.com/tild6338-3035-4466-b865-653337656565/teach-icon-1.svg');
}

.menu-item a[title="Apps"]::before {
  background-image: url('https://static.tildacdn.com/tild3939-3436-4636-b139-616562323030/chatium-icon-1_3.svg');
}

.menu-item a[title="Уведомления"]::before {
  background-image: url('https://static.tildacdn.com/tild3533-3238-4531-a566-653739333864/notifications-icon-1.svg');
}

.menu-item a[title="Сообщения"]::before {
  background-image: url('https://static.tildacdn.com/tild3533-6135-4362-a663-336163383935/notifications-icon-1.svg');
}

.custom-submenu{
 margin-left: 40px;   
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.menu-item a {
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.0) !important;

}
.gc-account-leftbar .gc-account-user-menu li a {
background: #A0C4F9; 
}
.gc-account-leftbar .gc-account-user-menu li a:hover {
background: #7EA3DA; 
}

.select > a {
background: #A0C4F9 !important;
}

.gc-fade-wrapper {
background: #fff;  
z-index: -1
}
.gc-account-leftbar {
background: #fff;  
margin-left: 10px;
}

.menu-item a[title]::after{
color: #fff;
font-family: 'Montserrat';
font-style: normal;
font-size: 16px;
font-weight: 600;
margin-top: 25px;
}
.menu-item-icon {
margin-top: 13px;    
}
.menu-item-notifications_button_small .menu-item-icon {
margin-top: 0px;     
}
.menu-item-profile .menu-item-icon {
margin-top: 0px;    
}
.notify-count {
color: #A0C4F9 !important;    
background: #fff !important;
}
.menu-item-teach > a .notify-count {
margin-top: 13px;   
}
.custom-submenu a {
font-family: 'Montserrat';
font-weight: 500 !important;
color: #fff !important;
}
.custom-submenu li:hover {
    background: #7EA3DA !important;
}

.custom-submenu .notify-count {
    position: relative !important;
    top: -4px;
    left: 45px !important;
}
.menu-item.active > a {
 background: #A0C4F9 !important;    
}
.menu-item.active > a:hover {
background: #7099d5 !important;   
}

.selected > a {
background: #A0C4F9 !important;   
}
.selected > a:hover {
background: #7099d5 !important;   
}

#searchWrapper {
background: #A0C4F9 !important;      
}
.logo-link img {
top: -40px !important;    
}




.lesson-list {
background: transparent;    
}
.gc-main-content{
background: #fff !important;      
}

.lesson-list li .info {
background: #F7F7FF;
border-left: 0px !important;
}

.lesson-list li {
border-radius: 15px;
}

.lesson-list li .item-image {
position: absolute !important;
left: auto;
top: 30px;
bottom: auto;
right: 30px !important;
height: 180px;
width: 180px !important;

}
.hidden-xs {
display: none;    
}
.lesson-list li a {
background: #F7F7FF;
}
.info{
margin-left: 20px !important;    
background: #F7F7FF !important;
background-color: #F7F7FF !important;
min-height: 240px;

}
.user-state-bg{
background: #F7F7FF !important;    
}


.lesson-list li .title {
font-family: 'Montserrat';
font-weight: 600 !important;
color: #363636!important;
font-size: 30px;
margin-top: 40px;
margin-bottom: 16px;
}

.lesson-list .description {
font-family: 'Montserrat';
font-weight: 400 !important;
color: #717171!important;    
width: 70%;
}
.page-control_stream-view {
background: #fff;    
}

.main-page-block {
margin-left: 60px !important;   
}
.menu-item-notifications > a .notify-count {
top: 20px;    
}
