/* CSS для подменю*/ /*=============================================================*/
@media screen and (min-width: 768px) {
.gc-account-leftbar .gc-account-user-menu{
margin-top: 10px !important;
    }
/*#searchContainer{
display: none;    
    }*/
.gc-account-user-submenu-bar-profile {
width: 270px !important;
left: 240px !important;
height: auto !important;
border-radius: 0px 15px 15px 15px;
padding-bottom: 0px !important;
}
.gc-user-user {
margin-left: 330px !important;
}
.gc-account-user-submenu-bar-notifications_button_small {
left: 240px !important; 
height: auto !important;
border-radius: 0px 15px 15px 15px;
padding-bottom: 0px !important;   
}

.close-button {
margin-top: 5px;
width: 15px;
}
.gc-account-user-submenu-bar-notifications_button_small .close-button img {
margin-left: 65px;      
}
}
@media screen and (max-width: 768px) {
.container{
margin-top: 50px;
   }

#searchContainer {
 width: 88vw;
 position: absolute;
 margin-top: 5px;
 margin-right: 10px;
}
#searchIconContainer {
left: auto;
right: 0;
position: absolute !important;
box-shadow: 0px 4px 10.5px rgba(0, 0, 0, 0.08);
}
#searchInputContainer {
margin-right: 10px;
box-shadow: 0px 4px 10.5px rgba(0, 0, 0, 0.08);
}
.gc-account-leftbar:not(.expanded) {
height: 50px !important;    
}
.toggle-link img {
width: 40px;     
}
.gc-account-leftbar .gc-account-user-menu{
    top: 0;
    position: absolute;
}

.toggler-item {
display: none !important;    
}
.gc-account-leftbar .toggle-link{
background: transparent;    
width: 100vw !important;
top:0;
right: 0;
}
.toggle-link img{
position: absolute;
margin-top: 5px;
margin-right: 5px;
top:0;
right: 0;
}
.gc-account-leftbar{
top: 0;
right: 0;
}
.gc-account-user-submenu-bar-profile {
z-index: 9999;
width: 100vw !important;
height: 100vh !important;
padding-bottom: 0px !important;
left: 0px !important;
border-radius: 0;
}
.close-button {
margin-left: 94vw;
margin-top: 5px;
width: 15px;
}
.gc-account-user-submenu-bar-notifications_button_small {
z-index: 9999;
width: 100vw !important;
height: 100vh !important;
padding-bottom: 0px !important;
left: 0px !important;
border-radius: 0;
}
.gc-account-leftbar a{
width: 90vw !important;
padding-left: 5vw !important; 
padding-right:   
}
.gc-account-leftbar .gc-account-user-menu{
width: 100vw;
background: rgb(244, 244, 244) !important;
padding-left: 5vw !important;
padding-top: 60px;
}
.menu-item a[title]::after{
width: 270px !important;
text-align: left !important;
margin-left: 20px !important;
}
.menu-item-profile .menu-item-icon {
position: absolute;
top: 10px ;
left: 8px !important;   
}
.gc-account-leftbar .notify-count {
left: 260px;
top: 10px;
}
.custom-submenu .menu-item-chatium_qr .subitem-link{
width: 100% !important;
height: 100% !important;    
}
}
/* для пк */
@media screen and (min-width: 768px) {
.container {
  padding-left: 0px;  
}
.gc-main-content{
margin-left: 260px !important;    
}
}
/* общий */
.close-button img{ 
cursor: pointer !important;
transform: scale(0.8);
}
.close-button img:hover {
  content: url('https://static.tildacdn.com/tild3064-3863-4062-b136-363939303365/close_hover.svg');
  transform: scale(0.9); /* Увеличиваем изображение при наведении */
}
.gc-account-user-submenu-bar h3{
margin-top: 0px;
}
.css-editor-modal .modal-dialog{
width: 60% !important;
}
.gc-account-user-submenu-bar-chatium {
 display: none !important;   
}
.gc-account-user-submenu-bar-teach {
 display: none !important;   
}   
.gc-account-leftbar {
    width: 260px;
    background: #F4F4F4;
}
.custom-submenu .menu-item-chatium_qr .subitem-link {
 height: 160px !important; 
 color: transparent !important; 
}
.menu-item {
margin-bottom: 10px !important;    
}
body {
background: #F7F7F7    
}
.gc-fade-wrapper .gc-fade {
display: none;
}
.menu-item-icon {
    transform: scale(0.6);    
}
/*______________________________________*/
/*Настройки стиля "профиля"*/
.gc-account-leftbar .gc-account-user-menu li.menu-item-profile a {
 height: 70px !important;    
}
.menu-item-profile a[title]::after{
 margin-top: 30px !important;
 margin-left: 30px !important;
}
.menu-item-profile .menu-item-icon {
border-radius: 1000px;    
}
/*______________________________________*/
/*основа меню*/
.open .custom-submenu {
margin-left: 40px;   
}
.gc-account-leftbar .gc-account-user-menu li a:hover{
 background: #D3D3D3;
}
.gc-account-leftbar .gc-account-user-menu li a{
  width: 240px;
  background: #FFFFFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Настройте значения для нужного эффекта */ 
  border-radius: 10px;
  height: 66px;
  display: flex !important;
  align-items: flex-start;
}
.menu-item a[title]::after {
    content: attr(title); /* Берем текст из атрибута title */
    margin-left: 8px; /* Отступ от иконки */
    font-size: 14px; /* Размер текста */
    color: #333; /* Цвет текста */
    vertical-align: middle !important; /* Вертикальное выравнивание */
    font-family: 'Manrope', sans-serif; /* Применяем шрифт Manrope */
    font-weight: 700; /* Жирный стиль */ 
    margin-top: 14px;
    position: absolute;
    left: 40px !important;
}
.menu-item a {
    display: block; /* Используем flexbox */
    align-items: center; /* Вертикальное выравнивание */
}
.notify-count {
  width: auto !important;
  padding: 3px 7px !important;  
}
/*______________________________________*/
/*отключение стандартного подменю*/
.fz-left-menu-teach {
display: none !important;    
}
.fz-left-menu-cms {
display: none !important;    
}
.fz-left-menu-user {
display: none !important;     
}
.fz-left-menu-tasks {
display: none !important;    
}
.fz-left-menu-notifications {
display: none !important;    
}
.fz-left-menu-sales {
display: none !important;
}
.fz-left-menu-chatium {
display: none !important;    
}
.menu-item-notifications_button_small .menu-item-icon {
display: block !important;   
}
/*______________________________________*/
.custom-submenu-bar {
    max-height: 0; /* Начальная высота подменю */
    opacity: 0;    /* Подменю не видно */
    overflow: hidden;
    transition: max-height 0.7s ease, opacity 0.7s ease; /* Плавное изменение высоты и прозрачности */
    background: none !important; /* Убираем фон */
    box-shadow: none; /* Убираем тень */
    margin-top: 0; /* Минимизируем отступ */
    padding: 0; /* Убираем внутренние отступы */
    position: absolute;
}
.custom-submenu-bar.open {
    max-height: 700px; /* Устанавливаем максимальную высоту, которая будет видимой */
    opacity: 1;        /* Подменю делаем видимым */
}
.select a {
    display: block;
    transition: height 0.7s ease; /* Плавный переход высоты */
}
/* Стили для элементов подменю */
.custom-submenu {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы */
    margin-top: 30px;
    /background: #FAFAFA;
    width: 180px;
    padding-top: 10px;
}
/*______________________________________*/
.custom-submenu li {
    margin: 0; /* Убираем отступы */
    border-radius: 5px;
}
.custom-submenu li:hover {
    background: #D3D3D3 !important;
}
.custom-submenu a {
    font-size: 12px; /* Уменьшаем размер текста */
    color: #333 !important; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    background: none !important; /* Убираем фон */
    display: inline; /* Отображаем как текст */
    padding: 5px; /* Убираем внутренние отступы */
    height: 20px !important;
    width: auto !important;
    box-shadow: none !important;
    white-space: nowrap;
    margin-top: 5px;
    font-family: 'Manrope', sans-serif !important; /* Применяем шрифт Manrope */ 
    
}
.custom-submenu-bar {
 top: -10px;  
}
.custom-submenu-bar h3 {
display: none;
}
/* Цвет при наведении */
.select > a:hover {
background: #F0F0F0 !important;    
}
/* Настройка уведомлений */
.select > a > .notify-count {
 opacity: 0   
}
.notify-count {
 position: relative !important;
 top: 10px;
 left: 130px;    
}
.custom-submenu .notify-count {
 position: relative !important;
 top: -1px;
 left: 55px !important;
}
.custom-submenu .menu-item-answers .notify-count {
 bottom: 3px;  
}
.custom-submenu .menu-item-inbox .notify-count {
 bottom: 3px;    
}
/*=============================================================================================*/
@media screen and (min-width: 768px) {
.gc-user-admin .logo-link img{
position: relative;  
top: -10px; 
border-radius: 10px;
}
.gc-user-user .logo-link img {
position: absolute;  
top: -60px; 
border-radius: 10px;
}
.annotate-block {
position: absolute;
left: auto;
right: 40px;
top: 10px;
border-radius: 10px;
background: #fff !important;
}
.close-button {
position: absolute !important;
right: 10px !important; 
left: auto !important;
}
.gc-account-user-submenu-bar-notifications_button_small .close-button {
position: relative !important; 
left: 250px !important;
}
}
